<h2 id = 'noticeTitle' > Noticeboard  </h2>


<ul id= 'content2'>
  <% @messages.each do |message| %>
    <li id = 'content'>

      <%= link_to message.title, message_path(message.id), :class => "atag"  %>


    </li>
  <% end %>
</ul>
