<h2 id = 'noticeTitle' > Noticeboard  </h2>


<ul>
  <% @messages.each do |message| %>
    <li id = 'content'>

      <%= link_to message.title, message_path(message.id)  %>


    </li>
  <% end %>
</ul>
