<h2>
 noticeboard
</h2>

<% if @current_user.present? && @current_user.admin? %>
  <%= link_to 'Update Notice', edit_message_path(@message.id)  %>
  <%= link_to 'Delete Notice', message_path(@message.id), method: 'delete'  %>
<% end %>


<p> <%= @message.content %> </p>
