<h2> Profile Page for <%= @user.name %> </h2>

<p>Your Plan2</p>




<% if @plan.first.nil? %>
Contact your trainer for a new plan
<% else %>
<%= @plan.first.name %>
<% end %>

<br>

<% if @plan.first.nil? %>
Contact your trainer for a new plan
<% else %>
<%= @plan.first.schedule %>
<% end %>
