<h2 id='profile'> Profile Page for <%= @user.name %> </h2>

<p id='plan'>Your Plan</p>




<% if @plan.first.nil? %>
Contact your trainer
<% else %>
<%= @plan.first.name %>
<% end %>

<br>

<% if @plan.first.nil? %>
for a new plan
<% else %>
<%= @plan.first.schedule %>
<% end %>
