
<div class="imageSlider">
  <%= image_tag("main_slider", :class => 'slider1')  %>
</div>

<div id="info">

<h1>Welcome to Adonis Athletics</h1>

<p id='infoP'>We are Australia’s biggest chain of 24:7 strength and conditioning facilities. We have built an insane amount of top level lifters and athletes and have helped the general population develop burning confidence in themselves.</p>

<img src="" alt="">
</div>

<div class = 'about' >
  <iframe id = 'vid' width="560" height="315" src="https://www.youtube.com/embed/BejAUOJgZ8c?start=2" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <p id = 'fac'>Our facilities are temples of iron, progress and self improvement. We provide a supportive space, free of ego, where the public can open their eyes and minds to see what is possible. During staffed hours we have dedicated expert coaches on the floor at your fingertips to take you through every single lift, watch over your form and give you help where you need it so that you can reach your excellence. You’ll get a tailored program and nutritional guidance just for you to make sure you get that satisfaction of ticking off your ultimate goals.</p>

</div>
