@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');

*{
  margin: 0;
}

body{
  background-image: url('bmi-bg.jpg');
  font-family: 'Hind', sans-serif;
  margin: 0;

}

a{
  color: white;
  text-decoration: none;
  margin-right: 30px;
  font-weight: bold;

}


nav {
  background-image: linear-gradient(to bottom right, #ed553b, #e14d35);
  height: 70px;
  border-top: 20px;
  padding-top: 40px;
}

.logo{
  display: inline-block;
  width: 20%;
  box-sizing: border-box;
  margin-left: 50px;
  color: white;
}

.midNav{
  text-align: right;
  display: inline-block;
  width: 40%;
  box-sizing: border-box;
  color: white;

}

.leftNav{
  text-align: right;
  display: inline-block;
  width: 30%;
  box-sizing: border-box;
  color: white;
  margin-left: 40px;


}

.slider1{
  padding: 0;
  display: block;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
}

footer{
  background-image: url('banner-schedule.jpg');
  height: 150px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.welcome{
  color: white;
  text-align: center;
}

#vid{
  display: inline-block;
  width: 40%;
  margin-left: 60px;
}

#fac{
  color: white;
  display: inline-block;
  width: 40%;
  vertical-align: top;
  margin-left: 60px;
  font-size: 20px;
}

.about{
  background-image: linear-gradient(to bottom right, #ed553b, #e14d35);
  padding: 90px;
  color: white;


}

#main{
  padding-bottom: 150px;
  color: black;


}


#info{
  background-image: url('slider2.jpg');
  text-align: center;
  padding: 70px;
}

#infoP{
  font-size: 25px;
}
