#profile{
  background-color: #be1e2d;
  color: white;
  text-align: center;
  height: 30px;
  padding: 20px 0;
}

#plan{
  text-align: center;
  font-size: 20px;
  margin-top: 20px;

}

#text{
  font-size: 30px;
  text-align: center;
}
