<h2> Clients </h2>

<% if @user == @trainer %>
  <%= link_to 'Add', edit_plan_path %>
<% end %>

<ul>
  <% @plan.each do |plan| %>
  <li>
    <%= link_to plan.name, plan_path(plan.id) %>


    <% if plan.trainer.name == @current_user %>
      <%= link_to 'edit', edit_plan_path(plan.id) %>
    <% end %>

  </li>
<% end %>
</ul>
