<div id="month">


<h1>This Month's Plan</h1>


<% if @user == @trainer %>
  <%= link_to 'edit', edit_plan_path, :class => "atag" %>

<% end %>
<br>

<%= @plan.name %>
<br>
<%= @plan.schedule.gsub("\n", "<br>").html_safe  %>
</div>
